version: "3"
services:
  redis:
    image: redis:${REDIS_VERSION}
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - "./conf/redis.conf:/usr/local/etc/redis/redis.conf"
      - "./data:/data"
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: "always"
