version: "3"
services:
  postgresql:
    image: postgres:${POSTGRES_VERSION}
    container_name: postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    volumes:
      - "./conf/postgresql.conf:/etc/postgresql/postgresql.conf"
      - "./conf/pg_hba.conf:/etc/postgresql/pg_hba.conf"
      - "./data:/var/lib/postgresql/data"
    command: postgres -c config_file=/etc/postgresql/postgresql.conf -c hba_file=/etc/postgresql/pg_hba.conf
    restart: "always"
